@import "_variables.scss";


.food {
  border-bottom: maroon 13px solid;
}
.title-food {
    position: relative;
     background-image: linear-gradient(
        to right bottom,
        rgba(color(primary), 0.5),
        rgba(color(primary-light), 0.5)),
      url(../media/dining.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px red;
}

.food img{
  height:13rem;
  filter: drop-shadow(0 0 0.75rem black);
  @include tablet{
    height:45rem;
  }
  @include desktop{
    height:45rem;
    }
}

.star {
  position: relative;
  margin: 2rem;
  z-index: 999;
  display: inline-block;
}

.rate{
  position: absolute;
  visibility: hidden;
  text-align: center;
  font-size: 4rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%; 
  white-space: pre-line;
  font-family:'Open Sans', sans-serif;
  font-style: italic;
}


.shop{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  margin-left: 2.5rem;
  margin: 2.5rem;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fas {
  font-size: 3rem;
  top:2rem  
}




.burger {
   background-image: linear-gradient(
      to right bottom,
      rgba(color(primary), 0.5),
      rgba(color(primary-light), 0.5)),
    url(../media/food-burger.jpg);
}
.cake {
  background-image: linear-gradient(
     to right bottom,
     rgba(color(primary), 0.5),
     rgba(color(primary-light), 0.5)),
   url(../media/food-cake.jpg);
}
.pasta {
  background-image: linear-gradient(
     to right bottom,
     rgba(color(primary), 0.5),
     rgba(color(primary-light), 0.5)),
   url(../media/food-pasta.jpg);
}
.meat {
  background-image: linear-gradient(
     to right bottom,
     rgba(color(primary), 0.5),
     rgba(color(primary-light), 0.5)),
   url(../media/food-meat.jpg);
}
.pancake {
  background-image: linear-gradient(
     to right bottom,
     rgba(color(primary), 0.5),
     rgba(color(primary-light), 0.5)),
   url(../media/food-pancake.jpg);
}



.right:hover{
transform: translate(8rem,0);
 transition: all .5s;
   @include tablet{
     transform: translate(20rem,0);
  }
  @include desktop{    
    transform: translate(30rem,0);
    }
 }

 .left:hover:hover{
  transform: translate(-8rem,0);
   transition: all .5s;
  @include tablet{
   transform: translate(-20rem,0);
  }
  @include desktop{
     transform: translate(-30rem,0);
}
 }

.right:hover + .rate{
  visibility: visible;
  transform: translate(-5rem,0);
  transition: all .5s;
  @include tablet{
    transform: translate(-20rem,0);
  }
  @include desktop{
    transform: translate(-30rem,0);
    }
}

.left:hover + .rate{
  visibility: visible;
  transform: translate(5rem,0);
  transition: all .5s;
  @include tablet{
    transform: translate(20rem,0);
  }
  @include desktop{
    transform: translate(30rem,0);
    }
}

.food h1{
  font-size: 1.5rem;
  font-family: 'Cabin', sans-serif;
  @include tablet{
    font-size: 4rem;
  }
  @include desktop{
    font-size: 6rem;
    }
}

.flash {
  animation-name: flash;
   animation-duration: 1s;
   animation-iteration-count: infinite;

}

@keyframes flash {
  from {color: red;}
  to {color: maroon;}
} 

.star{
  width: 100%;
  display:inline-block
}

.rate{
  width: 50%;
}