ul {
    list-style-type: none;
    position: sticky;
    overflow: hidden;
    top: 0;
 }
 li {
    float: right;
    border-right: 1px solid white;
 }
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
 }